*{margin:0;padding:0;font-family: "Microsoft YaHei" ! important; }
body{background: #f8f8f8;}
a{text-decoration: none;color:red;}
.w{width :100%}
.fl{float:left;}
.fr{float:right;}
.wauto{margin:0 auto;width:1080px;}
.info{width:100%;padding:34px 35px 30px 35px;border-bottom: 1px solid #cfcfcf; }




.header{
    height: 144px;
    background: #393a3e;
}