*{margin:0;padding:0;font-family: "Microsoft YaHei" ! important; }
a{text-decoration: none;color:red;}
.w{width :100%}
.fl{float:left;}
.fr{float:right;}
.wauto{margin:0 auto;width:720px;}





.header{
    height: 89px;
    background: #393a3e;
}